matlab/examples/export
matlab/+experiments/IsometricActivation/*
latex/img/*.pdf
*.ilg
data/
*.avi
.project
*.nlo
*.nls
*.?~
*.??~
*.???~
*.mexw32
*.mexw64
*.mexa64
*.mexglx
*.fig
*.mat
*.eps
*.txt
*.bin
*.log
*.asv
*.zip
*.exe
*.bat
*.dll
*.aux
*.bbl
*.blg
quasistatictest
sidepressure
