.project
*.?~
*.??~
*.mexw32
*.mexw64
*.mexa64
*.mexglx
*.fig
*.tex
*.mat
*.eps
*.txt
*.jpg
*.bin
*.log
*.asv
*.zip
*.exe
*.bat
*.dll
+general/+collections/Dictionary.m
/data
/temp
/documentation/bin
/documentation/mtoc++*
/documentation/docs
/documentation/out
.gitbranch
